#index {

    background-image: url(../img/thumb-1920-1330376.png);
    background-size: cover;


}

.titulo {

    align-items: center;
    display: flex;
    justify-content: center;

}

.botao {

    align-items: last baseline;
    display: flex;
    justify-content: center;
    height: 500px;
    size: 200px;
   


}

.container {
    padding: 10px;
    background-color: rgb(28, 92, 148);

    border-radius: 3%;
    margin: 5% 20% 0% 20%;
}

main {
    display: flex;
    justify-content: center;
}


.loginFundo {
    background-image: url(../img/fundo_login.jpg);
    background-size: cover;
}