body {

    background-image: url(../img/thumb-1920-1330376.png);
    background-size: cover;

}

.titulo {

    align-items: center;
    display: flex;
    justify-content: center;

}





















































































.loginFundo {
    background-image: url(../img/thumbbig-876590.webp);
    background-size: cover;
}